@import '../../styles/config.scss';

.about-container {
	.about-wrapper{
		display: grid;
		grid-template-columns: 1fr 1fr;
		
		.about-info {
			padding: 12rem;
			box-sizing: border-box;

			h1 {
				font-size: $h1Size;
				font-weight: 900;
				font-style: italic;
				margin-bottom: 3rem;
			}

			p {
				font-size: 1.3rem;
				line-height: 1.7rem;
				font-weight: 300;
				
			}
		}
		
		.about-image-container {
			padding: 3rem;
	
			.about-image {
				background-image: url('../../images/VanDouble1.jpg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 100%;
				height: 100%;
			}
		}
	}

}