@import '../../styles/config.scss';

.navigation-container nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 5rem;
	box-sizing: border-box;
	position: relative;

	@media screen and (max-width: $tabletSize){
		padding: 0 2rem;
	}

	.nav-logo {
		width: 10rem;
		height: 10rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url('../../images/JSP_LOGO_3000_Transparent.png');
		background-position: center;
		background-size: contain;

		@media screen and (max-width: $tabletSize){
			width: 8rem;
			height: 8rem;
		}

		h4 {
			transform: translateX(16rem);
			min-width: 20rem;
			color: $darkGray;

			@media screen and (max-width: $tabletSize){
				display: none;
			}
		}
	}

	.navigation-hamburger {
		@media screen and (min-width: $tabletSize){
			display: none;
		}
	}

	ul {
		display: flex;
		flex-direction: row;

		@media screen and (max-width: $tabletSize){
			display: none;
		}

		li {
			transition: transform 100ms ease-in-out;

			.nav-link {
				text-decoration: none;
				color: black;
				padding: 1rem 3rem;
			}

			#nav-link-highlight {
				background: $primaryColor;
				color: $white;
			}

			&:hover {
				transform: scale(1.05);
			}
		}
	}


}

.navigation-hamburger-menu {
	width: 100%;
	height: 200px;
	z-index: 30;
	background-color: $primaryColor;

	ul {
		width: 100%;
		height: 100%;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		li {
			height: 2.5rem;

		}

		li a {
			color: $white;
			text-decoration: none;
			font-size: 2rem;
		}
	}
}