@import '../../styles/config.scss';

.header-container {
		background-image: url('../../images/VanDouble1.jpg');
		background-position: center;
		background-size: cover;
		height: 40rem;
		width: 100%;
		position: relative;

		.cta-container {
			position: absolute;
			bottom: 3rem;
			right: 3rem;
			background-color: $black;
			left: 30%;
			color: white;
			padding: 3rem;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media screen and (max-width: $tabletSize){
				left: 1rem;
				bottom: 1rem;
				right: 1rem;
				flex-direction:  column;
				align-items: flex-start;
			}

			.header-col-cta{
				flex: 1;

				h1 {
					font-size: 2rem;
					margin-bottom: 1rem;
					font-weight: 900;
				}

				@media screen and (max-width: $tabletSize){
					margin-bottom: 2rem;
				}
			}

			.header-col-phone{
				flex: 1;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				transition: all 100ms ease-in-out;

				&:hover {
					transform: scale(1.02);
					color: $primaryColor;
				}

				a {
					font-size: 3rem;
					font-weight: 900;
					margin-left: 0.5rem;
					text-decoration: none;
					outline: none;
					color: white;
				}
	

			}
		}
}