@import '../../styles/config.scss';

.servicesList-container {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media screen and (max-width: $tabletSize){
		grid-template-columns: repeat(1, 1fr);
	}

	.service-card {
		padding: 1rem;
		
		.service-card-container {
			height: 30rem;
			position: relative;

			.service-cta-card {
				position: absolute;
				background-color: $primaryColor;
				bottom: 0;
				right: 0;
				left: 0;
				top: 75%;
				padding: 2rem;
				color: $white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				text-decoration: none;
				transition: top 100ms ease-in-out;

				#service-chev {
					width: 2rem;
					height: 2rem;
					transition: all 100ms ease-in-out;
				}


				&:hover {
					top: 70%;

					#service-chev {
						width: 4rem;
						height: 4rem;
					}
				}

				.service-cta-col {

					h4 {
						font-size: 2rem;
						font-weight: 700;
						margin-bottom: 0.5rem;
					}

					p {
						font-weight: 200;
					}
				}
			}
		}
	}
}